@page
@model Moment_1.AboutModel
@{
    ViewData["Title"] = "Om sidan";
    
}

<h2>Om sidan</h2>

<p>Mitt namn är <b>Malin Larsson</b> och läser nu sista året på webbutvecklingsprogrammet på Miun. Jag har lärt mig enormt mycket på den här utbildningen och det är riktigt kul att även lära sig C# med inriktning mot webbutveckling.
    För övrigt bor jag i Hudiksvall med min sambo och katt vilket gör det perfekt att utbilningen är på distans så att jag slipper pendla en timme varje dag.</p>

<p>Mina intressen på fritiden är att spela spel, kolla på serier, läsa böcker, laga mat, umgås med vänner och träna.</p>
